html,
body {
	height: 100%;
}


* {
	cursor: grabbing;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	display: block;
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: inherit;
	text-decoration: none;

}

li {
	list-style: none;
}

ul li:last-child {
	margin-bottom: 0;
}

button,
label {
	cursor: pointer;
}

input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

button {
	cursor: pointer;
}

input,
textarea {
	display: block;
	resize: none;
}

.search_img {
	transition: 0.3s;
}

.search_img:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

body {
	font-size: 14px;
	line-height: 19px;
	color: #242424;
	width: 100%;
	font-family: 'Manrope', arial, sans-serif;
}

.container {
	max-width: 1440px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}

.dn {
	display: none;
}

.tb {
	transition: 0.3s;
}

.tb:hover {
	background: rgb(33, 40, 6);
	color: white;
}

section {
	padding: 100px 0;
}

.sec_tit {
	font-weight: 800;
	font-size: 42px;
	line-height: 57px;
	text-align: center;
	margin: 0 auto;
}

.color {
	color: #BE963F;
}

.dib {
	display: inline-block;
}

.hover {
	transition: 0.3s;
}

.hover:hover {
	color: #BE963F;
}


.flex {
	display: flex;
	gap: 20px;
}

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 75px;
	background: #FCF8F3;
	z-index: 100;
}

.header__wrap {
	display: flex;
	justify-content: space-between;
	height: 100%;
	margin-top: 20px;
}

.hamb {
	display: none;
}

.popup {
	display: none;
}


.many>li>a {
	text-decoration: none;
	margin-top: -8px;

}

.header__wrap .many {
	display: flex;
	margin-right: 800px;
}

.header__wrap .many>li {
	display: flex;
	align-items: stretch;
}

.header__wrap .many>li>a {
	display: flex;
	align-items: center;
}

.header__wrap .many>li>a:hover {
	color: rgb(116, 104, 104);
}

.best {
	height: 810px;
	background-image: url(../img/favicon/bgforbest.jpg);
	background-position: 60% 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	align-items: center;
	padding-bottom: 120px;
	display: flex;
}

.home-hero__content {
	width: 50%;
	flex-direction: column;
	display: flex;
	margin-top: 313px;
	margin-left: 47px;
}

.hero__heading-text {
	margin-bottom: 40px;
	margin-right: 100px;
	padding-right: 0;
	color: rgb(33, 40, 6);
	font-family: Roboto;
	font-size: 65px;
	font-weight: 400;
	line-height: 77.76px;
	letter-spacing: 0%;
	text-align: left;
	margin-bottom: 66px;
}

.hero__subheading-text {

	color: rgb(33, 40, 6);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0%;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 11px;
}

.btn {
	box-sizing: border-box;
	border: 1px solid rgb(33, 40, 6);
	border-radius: 40px;

	background: rgb(33, 40, 6);

	width: 177px;
	height: 47px;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}

/* button:hover {
	box-shadow: 4px 7px 49px 7px rgba(116, 98, 53, 0.58);
} */

.btn_txt {
	color: rgb(252, 248, 243);
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 25.2px;
	letter-spacing: 0%;
	text-align: left;
	margin-right: 20px;
}

.btm {
	box-sizing: border-box;
	border: 1px solid rgb(33, 40, 6);
	border-radius: 40px;
	width: 201px;
	height: 47px;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}

.btm_txt {
	color: rgb(33, 40, 6);
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 25.2px;
	letter-spacing: 0%;
	text-align: left;
	margin-right: 20px;
}

.small {
	margin-left: -10px;
	margin-top: 145px;
	display: flex;
	justify-content: center;
	margin-bottom: 63px;
}

.small_tit {
	color: rgb(33, 40, 6);
	font-family: Roboto;
	font-size: 54px;
	font-weight: 400;
	line-height: 64.8px;
	letter-spacing: 0%;
	text-align: center;
	width: 893px;

}

.btn_area {
	display: flex;
	justify-content: center;
}

.qwert {
	width: 229px;
}

.sell_left {
	width: 25%;
}

.sell_text {
	width: 100%;
	margin-left: 35px;
	margin-top: 20px;
}

.sell_tit {
	color: rgb(33, 40, 6);
	font-family: Roboto;
	font-size: 40px;
	font-weight: 400;
	line-height: 51.84px;
	letter-spacing: 0%;
	text-align: left;
	margin-bottom: 20px;
}

.sell_txt {
	margin-bottom: 248px;
}

.sell_txt {
	color: rgba(33, 40, 6, 0.8);
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 28.8px;
	letter-spacing: 0%;
	text-align: left;
}

.ucps_tit {
	color: rgba(33, 40, 6, 0.8);
	font-family: Roboto;
	font-size: 19px;
	font-weight: 400;
	line-height: 34.56px;
	letter-spacing: 0%;
	text-align: left;

}

.sell {
	display: flex;
}

.card_txt {
	color: rgb(33, 40, 6);
	font-family: Roboto;
	font-size: 12px;
	font-weight: 400;
	line-height: 14.4px;
	letter-spacing: 0%;
	text-align: center;
	text-transform: uppercase;
}

.card_tit {
	color: rgb(33, 40, 6);
	font-family: Roboto;
	font-size: 23px;
	font-weight: 400;
	line-height: 35.28px;
	letter-spacing: 0%;
	text-align: center;
}

.price {
	color: rgb(33, 40, 6);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 28.8px;
	letter-spacing: 0%;
	text-align: center;
}

.card_img {
	margin-bottom: 20px;
}

.aigera {
	color: rgb(34, 34, 34);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0%;
	text-align: center;
	padding: 15px 38px 21px 18px;

}

.head_right {
	margin-right: 40px;
}


.bar {
	width: 30px;
	height: 8px;
	margin: 6px;
	cursor: pointer;
	background-color: #000;
	opacity: .5;
	border-radius: 10px;
	transition: all 0.4s ease;
}

.bar:hover {
	opacity: 1;
	transform: scale(1.1);
}


.obertka {
	margin-left: 216px;
}

.usps {
	margin-bottom: -75px;
	justify-content: center;
	margin-top: -34px;
}

.usps__grid {
	gap: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(245, 238, 230);
	box-shadow: rgba(208, 194, 194, 0.6) 1px 1px 4px;
	padding: 27px 93px;
	width: 1008px;
}

.stars {
	display: flex;
}

.strelki {
	margin-right: 88px;
	padding-bottom: 21px;
	gap: 15px;
	display: flex;
	justify-content: flex-end;
}

.next {
	transform: scaleX(-1);
}





/* main content */

.main_content {
	max-width: 1150px;
	margin: auto;
}

.content_cards {
	margin: auto;
	margin-bottom: 64px;
}

.content_card {
	transition: 0.3S;
	border-radius: 8px;
	overflow: hidden;
}

.swiper {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 350px;
	height: 370px;
}

.swiper-slide img {
	display: block;
	width: 100%;
}

.com_tit {
	transition: 0.3S;
}

.com_tit:hover {
	color: #02897A;
}

.content_tit {
	text-align: left;
	margin-bottom: 8px;
}

.content_card {
	max-width: 348px;
	border-radius: 8px 8px 0px 0px;
	/* border-radius: 8px; */
	background: #FFF;
	border: 1px solid #BCD0E5;
	overflow: hidden;
}

.content_txt {
	margin-bottom: 33px;
}

.com_tit {
	font-size: 24px;
	font-weight: 700;
	line-height: 40px;
	text-align: left;
	padding-left: 24px;
	margin-bottom: 40px;
}

.content_img {
	margin-bottom: 24px;
}

.content_desc {
	margin-bottom: 12px;
	padding-left: 24px;
}

.cards_selector {
	display: block;
	text-align: center;
	margin-bottom: 150px;
}

.cost {
	align-items: center;
}

.slider-container {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.menu {
	position: absolute;
	left: 40px;
	z-index: 900;
	width: 100%;
	bottom: 60px;
}

.slide-dot-1 {
	background: rgb(66, 73, 40);
}

.menu label {
	box-sizing: border-box;
	border: 1px solid rgb(66, 73, 40);
	cursor: pointer;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: #fff;

	margin: 0 0.2em 1em;
}

.menu label:hover,
.menu label:focus {
	background: rgb(66, 73, 40);
}

.slide {
	height: 100%;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 10;
	padding: 8em 1em 0;
	background-size: cover;
	background-position: 50% 50%;
	transition: left 0s 0.75s;
}

[id^="slide"]:checked+.slide {
	left: 0;
	transition: left 0.65s ease-out;
}

/* .slide-1 {
	background-image: url(../img/favicon/turtle.jpg);
}

.slide-2 {
	background-image: url(../img/favicon/turtle.jpg);
}

.slide-3 {
	background-image: url(../img/favicon/turtle.jpg);
} */

.turtle_img {
	overflow: hidden;
	width: 576px;
	height: 800px;
	top: -0.38px;
}

.turtle {
	display: flex;
	gap: 40px;
	background: rgb(245, 238, 230);
}

.turtle_right {
	width: 50%;
}

.transpar_cards {
	display: flex;
	justify-content: space-around;
	margin-bottom: 86px;

}

.transpar_card {
	width: 302.39px;
	height: 310.69px;
}

.transpar_tit {
	color: rgb(33, 40, 6);
	font-family: Roboto;
	font-size: 53px;
	font-weight: 400;
	line-height: 64.8px;
	letter-spacing: 0%;
	text-align: center;
	margin-bottom: 65px;
}

.transpar_card-img {
	/* Rectangle */
	width: 220px;
	height: 220px;
	left: 40.81px;
	right: 41.58px;
	top: -0.06px;
	bottom: 90.75px;
}

.transpar_txt {
	color: rgb(33, 40, 6);
	font-family: Roboto;
	font-size: 25px;
	font-weight: 400;
	line-height: 35.28px;
	letter-spacing: 0%;
	text-align: center;
	/* Fast shipping. Free on orders over $25. */
	width: 260px;
	height: 71px;
	left: 36px;
	right: 36.39px;
	top: 235.94px;
	bottom: 3.75px;
}

.transpar_area {
	display: flex;
	justify-content: center;
	text-align: center;
}

.ultimat {
	display: flex;
}

.slide_text {
	margin-left: 170px;
}

.slide_tit {
	color: rgb(33, 40, 6);
	font-family: Roboto;
	font-size: 43px;
	font-weight: 400;
	line-height: 51.84px;
	letter-spacing: 0%;
	text-align: center;
	margin-bottom: 60px;
	width: 419px;
}

.slide_txt-lit {
	color: rgb(33, 40, 6);
	font-family: Roboto;
	font-size: 13px;
	font-weight: 400;
	line-height: 14.4px;
	letter-spacing: 0%;
	text-align: center;
	text-transform: uppercase;
}

.group {
	display: flex;
	justify-content: center;
	margin-bottom: 70px;
}

.inspo {
	color: rgb(33, 40, 6);
	font-family: Roboto;
	font-size: 12px;
	font-weight: 400;
	line-height: 14.4px;
	letter-spacing: 0%;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 7px;
}

.ultimat_tit {
	color: rgb(33, 40, 6);
	font-family: Roboto;
	font-size: 41px;
	font-weight: 400;
	line-height: 51.84px;
	letter-spacing: 0%;
	text-align: left;
	margin-bottom: 25px;
}

.ultimate_txt {
	color: rgba(33, 40, 6, 0.8);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 28.8px;
	letter-spacing: 0%;
	text-align: left;
	padding: 9px 26px 29px 0;
	margin-bottom: 29px;
}

.ultimat_left {
	width: 504px;
	height: 506.64px;
	left: 5.09%;
	right: 56.02%;
	top: 2.47px;
	bottom: 6.55px;
	margin-left: 66px;
}

.ultimat_right {
	width: 576px;
	height: 516px;
	left: 0%;
	right: 0%;
	top: 0.47px;
	bottom: -0.81px;
	margin-left: 72px;
	margin-right: 72px;
}


.middle_img {
	position: absolute;
}

img.rot {
	-webkit-animation: 13s linear 0s normal none infinite running rot;
}

.rot {
	margin-top: -110px;
	margin-left: 201px;
}

@keyframes rot {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes rot {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.explore_tit {
	color: rgb(33, 40, 6);
	font-family: Roboto;
	font-size: 52px;
	font-weight: 400;
	line-height: 64.8px;
	letter-spacing: 0%;
	text-align: left;
	margin-bottom: 64px;
}

.explore_txt {
	color: rgb(33, 40, 6);
	font-family: Roboto;
	font-size: 23px;
	font-weight: 400;
	line-height: 35.28px;
	letter-spacing: 0%;
	text-align: center;
	background: rgb(249, 233, 224);
	padding: 15px 132px 19px;
}

.explore_cards {
	display: flex;
	gap: 15px;
}
.explore{
	margin-bottom: 100px;
}
.picture_tit {
	color: rgb(33, 40, 6);
	font-family: Roboto;
	font-size: 40px;
	font-weight: 700;
	line-height: 51.84px;
	letter-spacing: 0%;
	text-align: center;
}

.picture_top{
	padding-top: 70px;
}
.underline-one {
	color: rgb(34, 34, 34)fff;
	/* Цвет обычной ссылки */
	position: relative;
	cursor: pointer;
	text-decoration: none;
	/* Убираем подчеркивание */
}

.underline-one:after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	bottom: -3px;
	width: 0;
	height: 2px;
	/* Высота линии */
	background-color: black;
	/* Цвет подчеркивания при исчезании линии*/
	transition: width 0.5s;
	/* Время эффекта */
}

.underline-one:hover:after {
	content: "";
	width: 100%;
	display: block;
	position: absolute;
	left: 0;
	bottom: -3px;
	height: 2px;
	/* Высота линии */
	background-color: red;
	/* Цвет подчеркивания при появлении линии*/
	transition: width 0.5s;
	/* Время эффекта */
}

.btn:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	box-shadow: 25px 20px 39px 2px rgba(221, 26, 26, 0.2);
}

.btm:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	box-shadow: 25px 20px 39px 2px rgba(221, 26, 26, 0.2);
}



.box {
	background-color: transparent;
	width: 300px;
	height: 300px;
	perspective: 1000px;
}

.box-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.5s;
	transform-style: preserve-3d;
}

.box:hover .box-inner {
	transform: rotateY(180deg);
}

.box-front,
.box-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.box-front {
	color: #111111;
}

.box-back {
	transform: rotateY(180deg);
}

.second_img {
	margin: -115px 998px 0 142px;
}

.three_img {
	margin-top: -40px;
}

.four_img {
	margin: -400px 550px 53px 413px;
}

.five_img {
	margin: -460px 273px 241px 790px;
}

.six_img {
	margin: -340px 48px 0 946px;
}

.seven_img {
	margin: -660px 0 346px 1051px;
}

.explore_bottom {
	display: flex;
}

.footer {
	padding: 64px 28px 0 28px;
	max-width: 1440px;
}

footer {
	background: rgb(33, 40, 6);
}

.footer_top {
	display: flex;
	max-width: 1382.41px;
	height: 55px;
	justify-content: space-between;
}

.footer_logo {
	background: unset;
	width: 135px;
	height: 55px;
	fill: #f4f6ee
}

.footer_icons {
	display: flex;
	gap: 36px;
	max-width: 192px;
	height: 25px;
	align-items: center;
	margin-right: 30px;
}

.footer_icon {
	color: rgba(252, 248, 243, 0.8);
	font-size: 15px;
	font-weight: 400;
	text-align: left;
}

.footer_card {
	max-width: 318.59px;
	height: 246.19px;
}

.footer_cards {
	padding-top: 65px;
	gap: 25px;
}

.card_top {
	width: 319px;
	height: 53px;
	font-size: 16px;
	font-weight: 400;
	color: rgba(252, 248, 243, 0.8);
}

.white {
	margin-bottom: 30px;
	width: 320px;
	height: 1px;
	background: rgba(252, 248, 243, 0.5);
}

.card_bottom {
	width: 318.59px;
	height: 172px;
}

.card_tittle {
	display: block;
	margin-bottom: 17px;
	color: rgba(252, 248, 243, 0.8);
	color: rgba(252, 248, 243, 0.8);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 25.2px;
	letter-spacing: 0%;
	text-align: left;
}
.jour{
	margin-left: 400px;
	margin-top: -70px;
}
.footer_bottom {
	margin-top: 100px;
	gap: 200px;
}

.bottom_left {
	color: rgba(252, 248, 243, 0.8);
	font-size: 15px;
}

.bottom_center {
	display: flex;
	gap: 36px;
}

.center_tit {
	color: rgba(252, 248, 243, 0.8);
	font-size: 15px;
}

.bottom_right {
	color: rgba(252, 248, 243, 0.8);
	font-size: 15px;
}